#jupyter data
/docker/file_share/jupyter_data/python_scripts/__pycache__
/docker/file_share/jupyter_data/.cache
/docker/file_share/jupyter_data/.ipython
/docker/file_share/jupyter_data/.jupyter
/docker/file_share/jupyter_data/.local
/docker/file_share/jupyter_data/.ipynb_checkpoints
/docker/file_share/jupyter_data/.config

#DWH postgresql data
/docker/file_share/dwh_postgresql_data

#nifi data
/docker/file_share/nifi/content_repository
/docker/file_share/nifi/database_repository
/docker/file_share/nifi/flowfile_repository
/docker/file_share/nifi/logs
/docker/file_share/nifi/provenance_repository
/docker/file_share/nifi/state

#nifi registry data
/docker/file_share/nifi_registry

#pgadmin data
/docker/file_share/pgadmin_data